.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.btn-info, .btn-success { border-radius: 2px; }
.btn-info { background-color: #2f4050; border: 0; }
.btn-info:hover { background-color: #263948; border: 0; }
.btn-info:active {
    background-color: #263948 !important;
    border: 0 !important;
}
.btn-success { background-color: #5cb229; border: 0; }
.btn-success:hover { background-color: #54a525; border: 0; }
.btn-success:active {
    background-color: #54a525 !important;
    border: 0 !important;
}

.card { border-radius: 2px; border: 1px solid #6c757d; }

.btn-link { color: #00264b }
.btn-link:hover { color: rgb(50, 55, 61) }
.btn-outline-secondary { 
    border-radius: 2px; 
    font-size: 1rem; 
    background-color: #d35032; 
    border: 1px solid #d35032;
    color: #ffffff;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active {
    background-color: #bb4a30 !important;
    border: 1px solid #bb4a30 im !important;
}

.card-header { border-bottom: 1px solid #6c757d; }
.card-footer { border-top: 1px solid #6c757d; }
